/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.card.border-width-1 {
  border-width: 1px;
}

.card.border-width-3 {
  border-width: 3px;
}

.padding-left-10 {
  padding-left: 10px;
}

.margin-left-5 {
  margin-left: 5px;
}

.border-bottom-1 {
  border-bottom: 1px solid lightgray;
}

.width-100 {
  width: 100%;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.task-content {
  font-weight: bold;
  padding-left: 10px;
}

.task-start {
  display: flex;
  align-items: center;
}

.task-end {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.task-date {
  font-size: 12px;
  white-space: nowrap;
}

.task-completed:hover {
  cursor: pointer;
}

.invalid-input {
  color: red;
  font-size: 11px;
  padding-left: 5px;
}
